.chirp-card {
    margin: 0em auto 1em; 
    text-align: left;
}







/* .user-card2 {
    width: 400px;
    background-color: rgb(218, 231, 39);
    text-align: center;
    margin-left: 32%;
    position: relative;
  }
.user-header-image2{
    background-image: url('http://movie-dude.co.uk/Graham%20Chapman%20%20Monty%20Python%20and%20the%20Holy%20Grail%20(1974)%201.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
}
.user-card3 {
    width: 400px;
    background-color: rgb(100, 70, 31);
    text-align: center;
    margin-left: 32%;
    position: relative;
  }

.user-header-image3 {
    background-image: url('https://i.pinimg.com/736x/0f/c6/ca/0fc6cae0ca41951cb0d3349fee24346f--monty-python-help-help.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
}
.user-card4 {
    width: 400px;
    background-color: rgb(129, 129, 129);
    text-align: center;
    margin-left: 32%;
    position: relative;
  }

.user-header-image4 {
    background-image: url('https://i.pinimg.com/736x/ee/7f/fa/ee7ffacdb22647915dff1a9d3eef0fd8.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
} */