<!-- <li *ngFor="let chirp of chirps">{{chirps}}</li>

<mat-card class="user-card2" style="text-align: center">
  <mat-card-header>
    <div mat-card-avatar class="user-header-image2"></div>
    <mat-card-title>Slick Richard</mat-card-title>
    <mat-card-subtitle>Level 36</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-input-container>
      <p>This is story into sound. Mr. Ricky can you tell me a bedtime story please. All right you kids go to bed I'll get the book.</p>
    </mat-input-container>
  </mat-card-content>
</mat-card>
<br/>
<mat-card class="user-card3" style="text-align: center">
  <mat-card-header>
    <div mat-card-avatar class="user-header-image3"></div>
    <mat-card-title>Black Joker</mat-card-title>
    <mat-card-subtitle>Level 36</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-input-container>
      <p>You, you got what I need but you say he's just a friend
          And you say he's just a friend, oh baby
          You, you got what I need but you say he's just a friend
          But you say he's just a friend, oh baby
          You, you got what I need but you say he's just a friend
          But you say he's just a friend</p>
    </mat-input-container>
  </mat-card-content>
  <mat-card-actions>
</mat-card>
<br/>
<mat-card class="user-card4" style="text-align: center">
  <mat-card-header>
    <div mat-card-avatar class="user-header-image4"></div>
    <mat-card-title>Unicorn Lover</mat-card-title>
    <mat-card-subtitle>Level 99</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-input-container>
      <p>Shrek is love, Shrek is life, I love Shrek. Shrek came to me in the middle of the night. Shrek is the only one for me.</p>
    </mat-input-container>
  </mat-card-content>
</mat-card> -->