/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: palegoldenrod;
}

.company {
    color: white;
    font-family: 'Lobster Two', cursive !important;
    font-size: 250% !important;
    position: relative;
    left: 5em;
}

h1 {
    color: rgb(49,192,237);
    font-family: 'Lobster Two', cursive;
    font-size: 250%;
}

h3 {
    color: rgb(49,192,237);
    font-family: 'Lobster Two', cursive;
}

.account {
    padding-left: 23em;
}

.toolbar {
    background-color: rgb(49,192,237);
    text-align: center;
    position: relative;
}

.toolbar-buttons {
    position:relative;
    left: 23em;
    display: block;
}